<!DOCTYPE html>
<html>
<head>
    <title><%=title %></title>
    <meta charset="utf-8" />
</head>
<body>
    <%- include("partials/menu.ejs") %>
    <h1>About</h1>
    <p>An independent and self-motivated graduate looking for an entry-level position in the marketing department where I can utilize the extensive knowledge I have gained during my course. Well versed in market research and excellence in creating brand awareness.</p>
    <%- include("partials/footer.ejs") %>
</body>
</html>