<!DOCTYPE html>
<html>
<head>
    <title><%=title %></title>
    <meta charset="utf-8" />
</head>
<body>
    <%- include("partials/menu.ejs") %>
    <h1><%=title %></h1>
    <p>Teamwork <br> Time Management <br>Leadership <br>Verbal & Written communication</p>
    <%- include("partials/footer.ejs") %>
</body>
</html>